* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #FAF0E6;
  height: 100vh;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: -20px;
}
.box__1__button {
  border: 2px solid black;
  margin-right: 20px;
}
.box__1__button:nth-child(1) {
  position: relative;
}
.box__1__button:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #CFCFCF;
  z-index: -1;
  transition: all 0.3s linear;
}
.box__1__button:nth-child(1):hover::before {
  width: 100%;
  height: 100%;
}
.box__1__button:nth-child(2) {
  position: relative;
}
.box__1__button:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #CFCFCF;
  z-index: -1;
  transition: all 0.3s linear;
}
.box__1__button:nth-child(2):hover::before {
  width: 100%;
  height: 100%;
}
.box__1__button:nth-child(3) {
  position: relative;
}
.box__1__button:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #CFCFCF;
  z-index: -1;
  transition: all 0.3s linear;
}
.box__1__button:nth-child(3):hover::before {
  width: 100%;
  height: 100%;
}
.box__1__button:nth-child(4) {
  position: relative;
}
.box__1__button:nth-child(4)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #CFCFCF;
  z-index: -1;
  transition: all 0.3s linear;
}
.box__1__button:nth-child(4):hover::before {
  width: 100%;
  height: 100%;
}
.box__2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: -20px;
}
.box__2__button {
  border: 2px solid black;
  margin-right: 20px;
}
.box__2__button:nth-child(1) {
  position: relative;
}
.box__2__button:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  background-color: #CFCFCF;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}
.box__2__button:nth-child(1):hover::before {
  width: 100%;
  height: 100%;
}
.box__2__button:nth-child(2) {
  position: relative;
}
.box__2__button:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: #CFCFCF;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}
.box__2__button:nth-child(2):hover::before {
  width: 100%;
  height: 100%;
}
.box__2__button:nth-child(3) {
  position: relative;
  overflow: hidden;
}
.box__2__button:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  background-color: #CFCFCF;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: all 0.3s linear;
}
.box__2__button:nth-child(3):hover::before {
  width: 360%;
  height: 360%;
}
.box__2__button:nth-child(4) {
  position: relative;
  overflow: hidden;
}
.box__2__button:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  background-color: #CFCFCF;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s linear;
}
.box__2__button:nth-child(4):hover::before {
  width: 360%;
  height: 360%;
}
.box__3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: -20px;
}
.box__3__button {
  border: 2px solid black;
  margin-right: 20px;
}
.box__3__button:nth-child(1) {
  border: 2px solid transparent;
  position: relative;
}
.box__3__button:nth-child(1)::before, .box__3__button:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: black;
  transition: all 0.3s linear;
  z-index: -1;
}
.box__3__button:nth-child(1)::before {
  top: 0;
  left: 0;
}
.box__3__button:nth-child(1)::after {
  bottom: 0;
  right: 0;
}
.box__3__button:nth-child(1):hover::before, .box__3__button:nth-child(1):hover::after {
  width: 100%;
  height: 3px;
}
.box__3__button:nth-child(2) {
  border: 2px solid transparent;
  position: relative;
}
.box__3__button:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transition: all 0.3s linear;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.box__3__button:nth-child(2):hover::before {
  width: 100%;
  height: 3px;
}
.box__3__button:nth-child(3) {
  border: 2px solid transparent;
  position: relative;
}
.box__3__button:nth-child(3)::before, .box__3__button:nth-child(3)::after {
  content: "";
  position: absolute;
  background-color: black;
  transition: all 0.3s linear;
}
.box__3__button:nth-child(3)::before {
  top: 50%;
  left: 0;
  width: 3px;
  height: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.box__3__button:nth-child(3)::after {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #CFCFCF;
  transition-delay: 0.3s;
  z-index: -2;
}
.box__3__button:nth-child(3):hover::after {
  width: 100%;
  height: 100%;
}
.box__3__button:nth-child(3):hover::before {
  width: 3px;
  height: 100%;
}
.box__3__button:nth-child(4) {
  border: 2px solid transparent;
  position: relative;
}
.box__3__button:nth-child(4) span {
  display: block;
  background-color: black;
  transition: all 0.3s linear;
}
.box__3__button:nth-child(4) span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
}
.box__3__button:nth-child(4) span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 0;
}
.box__3__button:nth-child(4) span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
}
.box__3__button:nth-child(4) span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 0;
}
.box__3__button:nth-child(4):hover span:nth-child(odd) {
  width: 100%;
  height: 3px;
}
.box__3__button:nth-child(4):hover span:nth-child(even) {
  width: 3px;
  height: 100%;
}
.box__4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: -20px;
}
.box__4__button {
  border: 2px solid black;
  margin-right: 20px;
}
.box__4__button:nth-child(1) {
  border: 2px solid transparent;
  position: relative;
}
.box__4__button:nth-child(1) span {
  display: block;
  background-color: black;
  transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.box__4__button:nth-child(1) span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 180%);
  width: 105%;
  height: 3px;
}
.box__4__button:nth-child(1) span:nth-child(2) {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-180%, -50%);
  width: 3px;
  height: 100%;
}
.box__4__button:nth-child(1) span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -180%);
  width: 105%;
  height: 3px;
}
.box__4__button:nth-child(1) span:nth-child(4) {
  position: absolute;
  bottom: 50%;
  left: -3%;
  transform: translate(180%, 50%);
  width: 3px;
  height: 100%;
}
.box__4__button:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
}
.box__4__button:nth-child(1):hover::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}
.box__4__button:nth-child(1):hover span:nth-child(1) {
  transform: translate(-50%, 0);
}
.box__4__button:nth-child(1):hover span:nth-child(2) {
  transform: translate(0, -50%);
}
.box__4__button:nth-child(1):hover span:nth-child(3) {
  transform: translate(50%, 0);
}
.box__4__button:nth-child(1):hover span:nth-child(4) {
  transform: translate(0, 50%);
}
.box__4__button:nth-child(2) {
  position: relative;
  border-radius: 30px;
  border: 2px solid transparent;
}
.box__4__button:nth-child(2)::before, .box__4__button:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  transition: all 0.3s linear;
}
.box__4__button:nth-child(2)::before {
  border: 2px dashed black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.box__4__button:nth-child(2)::after {
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.box__4__button:nth-child(2):hover::before {
  width: 92%;
  height: 80%;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
