@import 'variable.scss';

&__button{
    border: 2px solid black;
    margin-right: 20px;
    &:nth-child(1){
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            @include size(100%, 0);
            background-color: $bg-button;
            z-index: -1;
            transform: translate(-50%, -50%);
            transition: all 0.3s linear;
        }
        &:hover::before{
            @include size(100%);
        }
    }
    
    &:nth-child(2){
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            @include size(0, 100%);
            background-color: $bg-button;
            z-index: -1;
            transform: translate(-50%, -50%);
            transition: all 0.3s linear;
        }
        &:hover::before{
            @include size(100%);
        }
    }

    &:nth-child(3){
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            @include size(100%, 0);
            background-color: $bg-button;
            z-index: -1;
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: all 0.3s linear;
        }
        &:hover::before{
            @include size(360%);
        }
    }

    &:nth-child(4){
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            @include size(100%, 0);
            background-color: $bg-button;
            z-index: -1;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: all 0.3s linear;
        }
        &:hover::before{
            @include size(360%);
        }
    }
}